
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-size: 1.2em;
  --text-weight-1: 100;
  --text-weight-2: 500;
  --font-family: 'Montserrat', sans-serif;;
  --font-color-1:  #021744;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #021744; 
  border-radius: 100px;
}

/* start-navbar */
header{
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 1;
}

.header-content {
  background-color: white;
  border-bottom: 2px solid rgb(216, 136, 17);
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  align-items: center;
}
.header-content h1{
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 10px;
}
.header-content h1 a:hover{
    color: #021744;
}
a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}
.uo-content {
  display: flex;
  list-style: none;
}
.uo-content .con {
  margin-left: 100px;
  font-size: var(--text-size);
  font-weight: var(--text-weight-2);
  font-family: Poppins,sans-serif!important;
}

.uo-content .con a:hover {
  color: rgb(238, 60, 15);
  border: 0.5px solid rgb(163, 97, 97);
  padding: 5px;
  border-radius: 2px;
}

.uo-content .con a:active{
  color: #f68a40;
}

/* navbar-ends */

/* Main section begins */
#container{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: 200px 50px;
}
#container p{
  width: 50%;
  font-size: 100px;
  color: #f68a40;
  font-family: 'IBM Plex Mono', monospace;
}

#container #img{
  width: 100%;
}
#container #img img{
  width: 80%;
  margin-left: 200px;
}
/* main-sec ends */



/* whole process starts */
#how{
  margin: 300px 50px;
}

#how h1{
  text-align: center;
  margin: 100px;
  font-family: var(--font-family);
}
.divs{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.card-header{
  text-align: center;
}
.card-body .btn{
  border: none;
  background:  #f68a40;
}
.card-body .btn:hover{
  color:  black;
}
/* whole-ends */

/* quotes-sec start */
#quotes{
  margin: 300px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#quotes .carousel-item{
  color: #021744;
  text-align: center;
}
/* quotes-sec ends */


/* why start */
#why{
  background-color: rgb(206, 206, 206);
}
#why-1{
  margin: 00px 50px;
  padding: 70px 0;
  width: 50%;
}
#why-1 h1{
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 90px;
  text-decoration: underline;
  
}
#why-1 p{
  line-height: 30px;
  font-weight: 600;
  font-size: 1.09em;
}
#why-1 p span{
  color: #f68a40;
  cursor: pointer;
}
/* why-ends */

/* footer starts */
#fot{
  background-color:#dad9d8;
  font-family: var(--font-family);
}

#fot-1{
  display: flex;
  margin: 0px;
  padding: 50px;
  justify-content: space-evenly;
}

#fot h1 a{
  font-size: 100px;
  color: #f68a40;
  font-weight: 200;
  margin: 10px 300px;
}

#fot-1 ul li{
  list-style: none;
  line-height: 40px;
  cursor: pointer;
}
.footer-1 ul .phone::before {
  content: url(/pictures/icon-phone.svg);
  position: absolute;
  left: 250px;
}
.footer-1 ul .mail::before {
  content: url(/pictures/icon-email.svg);
  position: absolute;
  left: 250px;
}

.footer-2 li a:hover{
  text-decoration: underline;
  color: #f68a40;
}

.footer-3{
  width: 200px;
}
.contact-us{
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}

.contact-us li{
  color: black;
  border: 1px solid #f68a40;
  border-radius: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 5px;
}
.contact-us li:hover{
  color: #f68a40;
}