* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-size: 1.2em;
  --text-weight: 100;
}

/* start-navbar */
a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}
.header-content {
  border-bottom: 2px solid rgb(216, 136, 17);
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}
.header-content h1 a:hover{
    color: black;
}
.uo-content {
  display: flex;
  list-style: none;
}
.uo-content .con {
  margin-left: 100px;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}
.uo-content .con a:hover {
  color: rgb(238, 60, 15);
}
