
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-size: 1.2em;
  --text-weight-1: 100;
  --text-weight-2: 500;
  --font-family: 'Montserrat', sans-serif;;
  --font-color-1:  #021744;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #021744; 
  border-radius: 100px;
}

/* start-navbar */
a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}
header{
  position: sticky;
  top: 10px;
  background-color: #fff;
}
.header-content {
  background-color: white;
  border-bottom: 2px solid rgb(216, 136, 17);
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  align-items: center;
}
.header-content h1{
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 10px;
}
.header-content h1 a:hover{
    color: #021744;
}

.uo-content {
  display: flex;
  list-style: none;
}
.uo-content .con {
  margin-left: 100px;
  font-size: var(--text-size);
  font-weight: var(--text-weight-2);
  font-family: Poppins,sans-serif!important;
}

.uo-content .con a:hover {
  color: rgb(238, 60, 15);
  border: 0.5px solid rgb(163, 97, 97);
  padding: 5px;
  border-radius: 2px;
}

.uo-content .con a:active{
  color: #f68a40;
}

/* navbar-ends */

/* Main section begins */
#container{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: 200px 50px;
}
#container p{
  width: 50%;
  font-size: 100px;
  color: #f68a40;
  font-family: 'IBM Plex Mono', monospace;
}

#container #img{
  width: 100%;
}
#container #img img{
  width: 80%;
  margin-left: 200px;
}
/* main-sec ends */


/* quotes-sec start */
#quotes{
  margin: 300px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#quotes .carousel-item{
  color: #021744;
  text-align: center;
}
/* quotes-sec ends */